# Golang CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-go/ for more details
jobs:
  build:
    docker:
      # specify the version
      - image: circleci/golang:1.9
    working_directory: /go/src/github.com/{{ORG_NAME}}/{{REPO_NAME}}
    steps:
      - checkout
      - run:
          # https://circleci.com/docs/ja/2.0/docker-compose/
          name: install docker-compose
          command: |
            curl -L https://github.com/docker/compose/releases/download/1.19.0/docker-compose-`uname -s`-`uname -m` > ~/docker-compose
            chmod +x ~/docker-compose
            sudo mv ~/docker-compose /usr/local/bin/docker-compose
      - setup_remote_docker
      - run:
          name: build docker image
          # https://discuss.circleci.com/t/2-1-config-and-build-processing/24102/31
          command: |
            cp app.env.sample app.env
            /usr/local/bin/docker-compose build

  deploy:
    machine: true
    steps:
      - checkout

      - add_ssh_keys:
          fingerprints:
            - "38:61:56:90:7c:42:a5:ed:3d:2c:14:1b:4a:4c:72:83"

      - run:
          name: Kick the deploy shell in remote host
          command: |
            ssh -p $REMOTE_PORT $REMOTE_USER@$REMOTE_HOST "~/$CIRCLE_PROJECT_REPONAME/deploy.sh"

      - run:
          name: Kick the deploy shell in remote host
          command: |
            curl -X POST -H 'Content-type: application/json' --data '{"text":"Failed to deploy!"}' $SLACK_WEBHOOK
          when: on_fail

orbs:
  slack: circleci/slack@3.4.2
version: 2.1
workflows:
  build:
    jobs:
      - build
      - deploy:
          requires:
            - build
          filters:
            branches:
              only:
                - master
      - slack/approval-notification:
          message: deploy done
          webhook: $SLACK_WEBHOOK
          requires:
            - deploy
