{{define "content"}}
<div class="progress my-progress">
  <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
</div>

<form action="/search/confirm" method="post" name="searchForm">
  <div class="form-group">
    <label class="my-label">WebのURL</label>
    {{ if (index .messages "ConfirmForm.SearchForm.WebのURL") }}
    <small class="form-text text-danger">{{ index .messages "ConfirmForm.SearchForm.WebのURL" }}</small>
    {{ end }}
    <input type="text" class="form-control" id="url" placeholder="Url" name="url" value="{{ .form.Url }}">
    <small class="form-text text-muted">スクレイプするURLを設定して下さい。<br>例えば、<b>"https://www.yahoo.co.jp/"</b></small>
  </div>
  <div class="form-group">
    <label class="my-label">比較する要素</label>
    {{ if (index .messages "ConfirmForm.SearchForm.比較する要素") }}
    <small class="form-text text-danger">{{ index .messages "ConfirmForm.SearchForm.比較する要素" }}</small>
    {{ end }}
    <input type="text" class="form-control" id="query" placeholder="Query" name="query" value="{{ .form.Query }}">
    <small class="form-text text-muted">Chromeなどのブラウザで検証モードでコピーしたセレクタを貼り付けて下さい。<br>例えば、<b>"#tabpanelTopics1 > div > div._2jjSS8r_I9Zd6O9NFJtDN- > ul"</b></small>
  </div>
  <button type="submit" class="btn btn-danger my-btn">確認</button>
  <input type="hidden" name="_csrf" value="{{ .csrf }}">
</form>
{{end}}